/************ ELEMENTS OF CONTENT **************/
/***********************************************/

.horizontal-line {
    padding:0px;
    display: block;
    height: 2px;
    background-color: #333333;
    margin: 5px 0;
}
.vertical-line-p{
    border-left: 2px solid #333333;
    margin-top: 20px;
}

.pr_line {
    background:url(../img/bg_black_70.png) repeat-x;
    position:relative;
    width:100%;
    height:5px;
    top:-5px;
    left:0;
}


/************ HOME CONTENT **************/
/****************************************/
.content_wrapper_home{
    margin-top:100px;
    border: solid 1px black;
    border-radius:5px;
    background:transparent url("../img/bg_black_50.png") repeat scroll 0% 0%;
    padding:5px;
}
.home_content{
    background-color: #000000;
    padding:30px 30px 25px;
}

.image-subtitle{
    background: #252525 url("../img/arrow_right.png") no-repeat scroll right center;
    padding: 12px 12px 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    display: block;

}
.home_content>div>div>h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.home_content>div>div>a>img{
    margin:auto;
}

.home_content>div>div>div>h3{
    color:white;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    padding:0px 30px;
}
.home_content>div>div>div>p{
    color:#ffffff;
    padding:0px 30px;
}

/************ ABOUT BAREX CONTENT **************/
/***********************************************/
h1.top {
    background:#000;
    color:#fff;
    font-size:36px;
    padding:25px 0 10px 25px;
    letter-spacing:-1px;
    margin:0;
}

.about_content{
    background-color: #000000;
    padding:0px 30px 25px;
}

.about_content>div>div>div>ul{
    list-style-type: none;
    color:#ffffff;
    padding:0px 30px;
}
.about_content>div>div>div>ul>li{
    font-style:italic;
    padding:4px;
}

.about_content>div>div>div>p{
    color:#ffffff;
    padding:30px 30px 10px 30px;
}
.about_content>div>div>div>h2{
    color:white;
    font-size: 20px;
    margin: 10px 10px;

}
.highlight {
    background: url(../img/megaphone.png) no-repeat left 20px;
    padding: 20px 25px 20px 45px;
    font-style: italic;
    font-weight: 700;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    color:white;
}
.our_team>div>div>div>img{
    border: 5px solid #1c1c1c;
}
.our_team>div>div>div>h5{
    margin-top:10px;
    color:white;
}
.our_team>div>div>div>em{
    font-style: italic;
    color: #7c7c7c;
}
.our_team{
    padding-left:40px;
}
.col-custom-text>div>span{
    margin-left:20px;
}

/************ ABOUT MIXOLOGY CONTENT **************/
/**************************************************/
.list-gallery{
    list-style-type: none;
    color:#00AEEF;
    padding:0px 50px;
}

.thumbnail-custom{
    background-color: #000000;
}
.thumbnail-custom>img{
    background-color: #000000;
    border: 5px solid #1c1c1c;
}

.about_content>div>div>div>div>h2{
    color:white;
    font-size: 20px;
    margin: 10px 15px;
}

/************ ABOUT FlairShow CONTENT **************/
/**************************************************/
.about_flair_img{
    margin:30px 0px 0px 10px;

}
.about_flair_h2{
    padding-left:20px;
}


/************ PROJECT *********************/
/******************************************/
.project_img{
    padding:40px 20px;
}
.project_img_hover:hover{
    cursor:pointer;
}
.zoom_portfolio{
    display:none;
}
.project_img_hover:hover .zoom_portfolio{
    display:block;
}
.zoom_portfolio img{
    position: absolute;
    z-index: 100;
    width:68px;
    height:68px;
    left:46%;
    top:45%;
}

.vertical-line-p-project{
    border-left: 2px solid #333333;
    margin-top: 40px;
}
.about_content>div>div>div>p.project_paragraph{
    padding:0px 30px 10px 30px;
}


/************ Ribbon for images of projects **************/
/*********************************************************/
.ribbon {
    position:absolute;
    width:96px;
    height:58px;
    top:36px;
    right:30px;
    z-index:200;
    background: url(../img/ribbon.png) no-repeat;
}

/************ CONTACTS INFO ***************/
/******************************************/
.contacts-info{
    padding:20px 20px;
}
.contacts-info>p{
    color:#ffffff;
    padding-top:10px;
}
#address {
    background: url(../img/icon_address.png) no-repeat right 5px;
}
#email {
    background: url(../img/icon_email.png) no-repeat right 5px;
}
#phone {
    background: url(../img/icon_phone.png) no-repeat right 5px;
}
#web {
    background: url(../img/icon_web.png) no-repeat right 5px;
}

/* form styles ================================================================================= */
.col_f_1 {

}
label {
    color:#fff;
    margin-top:10px;
    display:block;
    font-weight:bold;
    font-size:14px;
    margin-bottom:3px;
}
fieldset {
    border:none;
}
#myform fieldset.col_f_1 input,#myform fieldset.col_f_2 input {
    padding:8px;
    margin:2px 0 5px 0;
    background:#333;
    width:100%;
    font-family:Arial,Helvetica,sans-serif;
    color:#dfdfdf;
    font-size:12px;
    border:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#myform textarea {
    padding:8px;
    margin:2px 0 5px 0;
    background:#333;
    width:100%;
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif;
    color:#dfdfdf;
    border:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    height:70px;
}
#myform textarea:focus {
    padding:8px;
    margin:2px 0 5px 0;
    background:#ccc;
    width:100%;
    font-size:12px;
    font-family:Arial,Helvetica,sans-serif;
    color:#222;
    border:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    height:70px;
}
#myform fieldset.col_f_1 input:focus,#myform fieldset.col_f_2 input:focus,#myform input:focus {
    padding:8px;
    margin:2px 0 5px 0;
    background:#ccc;
    border:none;
    color:#222;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
}
/* error message */
.error {
    background-color: #FC0;
    font-size:11px;
    padding:1px 5px;
    color:#000;
    width:110px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin:0 0 10px 0;
}
.send_bt {
    background:url(../img/send_message.png) no-repeat;
    width:123px;
    height:38px;
    text-indent:-9999px;
    display:block;
    margin:190px 15px 0px;
    border:none;
    cursor: pointer;
}
#myform{
    padding-right: 20px;
}


/************ IMAGE ZoomIn EFFECT **************/
/**************************************************/
.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    max-width: 100%;
}
.mg-image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
/* just apply some height and width to the wrapper.*/
.mg-image {
  overflow: hidden;
}
