/************ ELEMENTS OF CONTENT **************/
/***********************************************/

.horizontal-line {
    padding:0px;
    display: block;
    height: 2px;
    background-color: #333333;
    margin: 5px 0;
}
.vertical-line-p{
    border-left: 2px solid #333333;
    margin-top: 20px;
}

.pr_line {
    background:url(../img/bg_black_70.png) repeat-x;
    position:relative;
    width:100%;
    height:5px;
    top:-5px;
    left:0;
}


/************ HOME CONTENT **************/
/****************************************/
.content_wrapper_home{
    margin-top:100px;
    border: solid 1px black;
    border-radius:5px;
    background:transparent url("../img/bg_black_50.png") repeat scroll 0% 0%;
    padding:5px;
}
.home_content{
    background-color: #000000;
    padding:30px 30px 25px;
}

.image-subtitle{
    background: #252525 url("../img/arrow_right.png") no-repeat scroll right center;
    padding: 12px 12px 10px;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    display: block;

}
.home_content>div>div>h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.home_content>div>div>a>img{
    margin:auto;
}

.home_content>div>div>div>h3{
    color:white;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    padding:0px 30px;
}
.home_content>div>div>div>p{
    color:#ffffff;
    padding:0px 30px;
}

/************ ABOUT BAREX CONTENT **************/
/***********************************************/
h1.top {
    background:#000;
    color:#fff;
    font-size:36px;
    padding:25px 0 10px 25px;
    letter-spacing:-1px;
    margin:0;
}

.about_content{
    background-color: #000000;
    padding:0px 30px 25px;
}

.about_content>div>div>div>ul{
    list-style-type: none;
    color:#ffffff;
    padding:0px 30px;
}
.about_content>div>div>div>ul>li{
    font-style:italic;
    padding:4px;
}

.about_content>div>div>div>p{
    color:#ffffff;
    padding:30px 30px 10px 30px;
}
.about_content>div>div>div>h2{
    color:white;
    font-size: 20px;
    margin: 10px 10px;

}
.highlight {
    background: url(../img/megaphone.png) no-repeat left 20px;
    padding: 20px 25px 20px 45px;
    font-style: italic;
    font-weight: 700;
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    color:white;
}
.our_team>div>div>div>img{
    border: 5px solid #1c1c1c;
}
.our_team>div>div>div>h5{
    margin-top:10px;
    color:white;
}
.our_team>div>div>div>em{
    font-style: italic;
    color: #7c7c7c;
}
.our_team{
    padding-left:40px;
}
.col-custom-text>div>span{
    margin-left:20px;
}

/************ ABOUT MIXOLOGY CONTENT **************/
/**************************************************/
.list-gallery{
    list-style-type: none;
    color:#00AEEF;
    padding:0px 50px;
}

.thumbnail-custom{
    background-color: #000000;
}
.thumbnail-custom>img{
    background-color: #000000;
    border: 5px solid #1c1c1c;
}

.about_content>div>div>div>div>h2{
    color:white;
    font-size: 20px;
    margin: 10px 15px;
}

/************ ABOUT FlairShow CONTENT **************/
/**************************************************/
.about_flair_img{
    margin:30px 0px 0px 10px;

}

.about_flair_h2{
    padding-left:20px;
}





/************ IMAGE ZoomIn EFFECT **************/
/**************************************************/
.mg-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    max-width: 100%;
}
.mg-image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
/* just apply some height and width to the wrapper.*/
.mg-image {
  overflow: hidden;
}
