.slide {
  position: relative;
}
.slide .inner {
  position: absolute;
  left: 0;
  bottom: 0;
}
.navbar-toggle{
  z-index: 100;
}
.nav>li{
  z-index: 1000;
}

body {
  padding-top: 50px;
  background: #000;
  overflow-y: scroll;
  overflow-x: hidden;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.header_line {
  position:fixed;
  top:0;
  right:0;
  width:100%;
  height:18px;
  background:url(../img/header_top_line.png) repeat-x center top;
  z-index:10;
}
.img_logo{
  position:absolute;
  z-index: 10;
}
.p_logo_2{
  padding-right:25px;
}


/*****  MENU  ********/
/*************************/
.navbar-inverse{
  background-color: transparent;
  border-color: transparent;
  margin-top:-50px;
}
.navbar-collapse{
  padding-right:0px;
}

.navbar-inverse .navbar-nav>li>a:focus{
  color:#9d9d9d;
  background-color:#101010;
}

.navbar-right{
  margin: 0px;
}
.navbar-nav > li > a{
  background-color: #101010;
  font-weight: bold;
  opacity: 0.9;
  margin-right: 2px;
  width:110px;
  font-size:12px;
  z-index:10000;
}
.navbar-inverse .navbar-nav > li >a:hover{
  background-color: #ffffff; !important;
  color: #111111;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;

  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-bottom:none;
  border-top:none;
}


.navbar-nav > li > .dropdown-menu{

  z-index:100000;
  border-top: none;
}
.dropdown-menu > div > div > li > a {
  text-decoration:none;
  color:#222;
  padding:2px 2px 2px 4px;
  margin:2px;
  display:block;
  font-size:12px;
}
.dropdown-menu > div > div > li > a:hover {
  background: #000000;
  color: #ffffff;
}
.dropdown-menu> div > div > h3{
  border-bottom: 1px solid #dddddd;
  color: #666666;
}

/*****  PARTNERS  ********/
/*************************/
.dropdown-menu.partners{
  min-width: 448px;
  padding: 0px 20px 16px 20px;
  right: 1px;
}
.thumbnail{
  border:none;
}
.thumbnail > div > h3 {
  border-bottom: 1px solid #dddddd;
  color: #666666;
}

/*****  CONTACTS  ********/
/*************************/
.dropdown-menu.contacts{
  min-width: 560px;
  right: -111px;
  padding: 0px 20px 16px 20px;
}
.dropdown-menu.contacts > div > div > li{
  font-size: 12px;
  color: #333333;
}

/********  ABOUT  ********/
/*************************/
.dropdown-menu.about{
  min-width: 223px;
  right: -110px;
  padding: 0px 20px 16px 20px;
}

/*****  PORTFOLIO  ********/
/**************************/
.dropdown-menu.portfolio{
  min-width: 560px;
  right: -335px;
  padding: 0px 20px 16px 20px;
}




